/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

// CONFIG
#define COMBO_TIMEOUT 70
#define COMBO_LAYERS 0
#define STICKY_TIMEOUT 500

// LEFT SIDE
#define TLI 28 // TOP
#define TLM 27 // TOP
#define TLR 26 // TOP
#define TLP 25 // TOP
#define BLI 40 // BOTTOM
#define BLM 39 // BOTTOM
#define BLR 38 // BOTTOM
#define BLP 37 // BOTTOM
#define LOT 53 // O-THUMB
#define LIT 52 // I-THUMB

// RIGHT SIDE
#define TRI 31 // TOP
#define TRM 32 // TOP
#define TRR 33 // TOP
#define TRP 34 // TOP
#define BRI 45 // BOTTOM
#define BRM 46 // BOTTOM
#define BRR 47 // BOTTOM
#define BRP 48 // BOTTOM
#define ROT 54 // O-THUMB
#define RIT 55 // I-THUMB

&sk {
    release-after-ms = <STICKY_TIMEOUT>;
    quick-release;
};

/ {
  combos {
    compatible = "zmk,combos";
    #include "taipo.dtsi"
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &none            &none            &none            &none             &none            &none                                              &none            &none            &none            &none            &none            &none
        &none            &none            &none            &none             &none            &none                                              &none            &none            &none            &none            &none            &none
        &none            &none            &none            &none             &none            &none                                              &none            &none            &none            &none            &none            &none
        &none            &none            &none            &none             &none            &none            &none            &none            &none            &none            &none            &none            &none            &none
                                                           &none             &none            &none            &none            &none            &none            &none            &none
      >;
    };
  };
};
